<div class="text-center">
  <h1 style="font-weight: 100; font-size: 150px;" class="a1">Opps!</h1>
  <h1 style="font-weight: 100; font-size: 60px;" class="a2">Subject ID: <?php echo $this->data["subject"]["subject_id"]; ?><br/>Does not exists</h1>
  <br />
  <br />
  <br />
</div>
<style type="text/css">
@media (max-width: 500px) {
  .a1{
    font-size: 80px!important;
  }
  .a2{
    font-size: 30px!important;
  }
}
</style>
<script language="javascript">
  function time(){var t=setTimeout("window.location='<?php echo $this->path; ?>/';", 3000)}
  time();
</script>