<?php
/**
* Data require: data["subject_list"], data["got_points"], data["major_plans"], data["user"]
* function cards()
*/
?>
<p style="font-size: 20px; font-weight:100;"><span style="font-size: 60px;"><?php echo $this->data["user"]["user_name"]; ?></span> 的选课</p>
<div class="container" id="top_div" data-spy="affix" data-offset-top="111">
  <div class="row hidden-xs">
    <div class="col-sm-4">
      <div class="content header_2">
        <div class="row_header">
          <h3>学科基础选修课</h3>
          <h4>需要 <?php echo $this->data["major_plans"]["point_type4"]; ?> 学分, 已选 <span id="s_2_t">32</span> 学分</h4>
          <h4 id="l_2_t"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="content header_3">
        <div class="row_header">
          <h3>专业任选课</h3>
          <h4>需要 <?php echo $this->data["major_plans"]["point_type5"]; ?> 学分, 已选 <span id="s_3_t">32</span> 学分</h4>
          <h4 id="l_3_t"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="content header_4"> 
        <div class="row_header">
          <h3>专业限选课</h3>
          <h4>需要 <?php echo $this->data["major_plans"]["point_type6"]; ?> 学分, 已选 <span id="s_4_t">32</span> 学分</h4>
          <h4 id="l_4_t"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="content header_2">
      <div class="row_header">
        <h3>学科基础选修课</h3>
        <h4>需要 9 学分, 已选 <span id="s_2">32</span> 学分</h4>
        <h4 id="l_2"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
        <hr />
      </div>
      <h4>大三上</h4>
      <?php $this->cards(5, 4, "mine"); ?>
      <hr />
      <h4>大三下</h4>
      <?php $this->cards(6, 4, "mine"); ?>
      <hr />
      <h4>大四上</h4>
      <?php $this->cards(7, 4, "mine");?>
      <div id="s_2_default" style="display: none;"><?php echo $this->data["got_points"]["point_type4"]; ?></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="content header_3">
      <div class="row_header">
        <h3>专业任选课</h3>
        <h4>需要 8 学分, 已选 <span id="s_3">32</span> 学分</h4>
        <h4 id="l_3"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
        <hr />
      </div>
      <h4>大三上</h4>
      <?php $this->cards(5, 5, "mine"); ?>
      <hr />
      <h4>大三下</h4>
      <?php $this->cards(6, 5, "mine"); ?>
      <hr />
      <h4>大四上</h4>
      <?php $this->cards(7, 5, "mine"); ?>
      <div id="s_3_default" style="display: none;"><?php echo $this->data["got_points"]["point_type5"]; ?></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="content header_4">
      <div class="row_header">
        <h3>专业限选课</h3>
        <h4>需要 12 学分, 已选 <span id="s_4">32</span> 学分</h4>
        <h4 id="l_4"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
        <hr />
      </div>
      <h4>大三上</h4>
      <?php $this->cards(5, 6, "mine"); ?>
      <hr />
      <h4>大三下</h4>
      <?php $this->cards(6, 6, "mine"); ?>
      <hr />
      <h4>大四上</h4>
      <?php $this->cards(7, 6, "mine"); ?>
      <div id="s_4_default" style="display: none;"><?php echo $this->data["got_points"]["point_type6"]; ?></div>
    </div>
  </div>
</div>

<link href="<?php echo $this->path; ?>/assets/css/home.css" rel="stylesheet">
<style type="text/css">
  .subjects{
    cursor: default;
  }
  #top_div{
    margin-top: -195px;
  }
</style>
<script src="<?php echo $this->path; ?>/assets/js/mine.js" type="text/javascript"></script>