<form action="<?php echo $this->path; ?>/admin/login" method="POST">
  <h1 class="text-center" style="margin-left: 0px;"><span class="glyphicon glyphicon-star"></span></h1>
  <h2 class="text-center title2">Admin login</h2>
  <br />
  <input type="text" name="username" class="form-control" placeholder="Username" autocomplete="off" autofocus>
  <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="off">
  <input type="submit" name="submit" class="btn btn-danger btn-block" value="Login"></input>
  <br />
  <p class="text-center" style="color: #AAA; font-size: 13px;">Support Chrome, Firefox, Opera and Safari.</p>
  <hr />
  <p class="text-center" style="color: #DDD;">Code &amp; Design by <a href="http://taixiaoyu.com">Xiaoyu Tai</a><br />Copyright © 2014</p>
</form>
<link href="<?php echo $this->path; ?>/assets/css/login.css" rel="stylesheet">
<script type="text/javascript">
  $(document).ready(function(){
    $(document).keydown(function(event){
      if(event.which == 186){
        lunch_war();
      }
    });
  });
  Messenger.options = {
    extraClasses: 'messenger-fixed messenger-on-top',
    theme: 'block'
  }
  function lunch_war(){
    Messenger().post({
      type: "error",
      hideAfter: 10,
      showCloseButton: true,
      message: "<br><br><br><a href=\"/login/\" style=\"font-size: 150px; margin-left:-20px;\"><span class=\"glyphicon glyphicon-send\"></span></a><br><br><br>"
    });
  }
  function wrong_pwd(){
    Messenger().post({
      type: "error",
      hideAfter: 4,
      showCloseButton: true,
      message: "Something wrong, man!"
    });
  }
</script>