<h1><?php echo $this->Subject->subject($_GET['i'],"name"); ?></h1>
<div class="row">
  <div class="col-sm-6">
    <br />
    <?php $this->Subject->subject($_GET['i'],"all"); ?>
    <hr />
    <h3>在这儿讨论一下</h3>
    <div id="disqus_thread"></div>
<script type="text/javascript">
 var disqus_shortname = 'bjut-xg-courses'; // required: replace example with your forum shortname
 (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
  </div>
  <div class="col-sm-6">
    <h3>都谁选了这门课 [<?php echo $this->Subject->subject($_GET['i'],"enroll"); ?>] :</h3>
    <?php $this->Subject->subject($_GET['i'],"list"); ?>
  </div>
</div>

<style type="text/css">
  h1{
    color: #D55;
    font-weight: 200;
  }
  .type_1{
    color: #D33;
  }
  .type_2{
    color: #DA1;
  }
  .type_3{
    color: #1C5;
  }
  .type_4{
    color: #13C;
  }
</style>