body{
  //padding-top: 20px;
}
a, .btn{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
}
a{
  color: #D55;
}
a:hover,
a:focus{
  color: #F55;
  text-decoration: none;
}
::selection{
  background: #F99;
  color: #FFF;
}
hr{
  border-top: 1px solid #BBB;
}
/*nav{
  margin-left: -5px;
  margin-right: -5px;
}*/
.navbar-inverse{
  background-color: rgba(0, 0, 0, .8);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a{
  color: #CCC;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus{
  background-color: rgba(0, 0, 0, .5);
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus{
  background-color: #E77;
}
#backt{
  z-index: 905;
  position:fixed;
  right:20px;
  bottom:3px;
}
#backt a{
  font-weight: 100;
  color: #777;
}
#backt a:hover,
#backt a:focus{
  text-decoration: none;
  color: #555;
}
.messenger-message{
  margin: 0px !important;
  padding: 10px !important;
}
.messenger-close{
  top: 0px !important;
  left: -5px !important;
}
.messenger-message-inner{
  padding: 7px !important;
}
.messenger-message.alert-success{
  background-color: rgba(222, 240, 215, 0.9) !important;
}
.messenger-message.alert-error,
.messenger-message.alert-danger{
  background-color: rgba(242, 222, 222, 0.9) !important;
}