.alert{
  margin-left: -5px;
  margin-right: -5px;
}
.col-sm-3,
.col-sm-4,
.col-sm-6{
  padding-left: 10px;
  padding-right: 10px;
}
.content{
  margin-bottom: 20px;
  border: 1px solid #BBB;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .6);
}
.content > hr{
  margin-top: 0px;
  margin-bottom: 15px;
  border-top: 1px solid #BBB;
}
.content h4{
  text-align: left;
  margin-top: -5px;
  margin-left: 10px;
}
@media (max-width: 991px) {
  .row_header h1{
    font-size: 80px !important;
    margin-bottom: 10px !important;
    margin-top: 15px !important;
  }
  .row_header h3{
    margin-bottom: 0px;
  }
}
.row_header h1{
  color: #555;
  font-size: 120px;
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}
.row_header h3{
  font-size: 20px;
  color: #555;
  font-weight: 200;
  text-align: center;
  padding-bottom: 0px;
}
.row_header h4{
  font-size: 14px;
  text-align: center;
  color: #444;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.admin_list{
  margin-top: -10px;
  margin-right: 10px;
  margin-left: 10px;
}
.admin_list p{
  font-size: 16px;
}
.row_header h5{
  font-size: 18px;
  text-align: center;
  color: #444;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: -10px;
}
.row_header h4 span{
  font-size: 14px;
}
.row_header{
  border-radius: 10px 10px 0 0;
  padding-top: 1px;
}
.header_1 .row_header{
  background-color: rgba(255, 180, 180, .8);
}
.header_2 .row_header,
.header_2 .checked{
  background-color: rgba(250, 250, 180, .8);
}
.header_3 .row_header,
.header_3 .checked{
  background-color: rgba(180, 250, 180, .8);
}
.header_4 .row_header,
.header_4 .checked{
  background-color: rgba(160, 200, 250, .8);
}
.content > div:nth-last-of-type(2),
.content > div:nth-last-of-type(1){
  border-radius: 0 0 10px 10px;
}
.subjects{
  margin: 0px;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid rgba(0,0,0,0);
  background-color: rgba(255, 255, 255, .5);
  cursor: pointer;
}
.header_1 .subjects{
  cursor: default;
}
.subjects > input{
  margin-left: 10px;
  margin-bottom: 10px;
}
.subjects > hr{
  margin-top: -5px;
  margin-bottom: -5px;
  border-top: 1px solid rgba(176, 176, 176, 0);
}
.subjects > p{
  font-size: 14px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.sub_button{
  margin: 0px;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid rgba(0,0,0,0);
  background-color: rgba(255, 255, 255, .5);
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}
.sub_button:hover{
  background-color: rgba(255, 180, 180, .5);
  border-radius: 0 0 10px 10px;
}
.sub_button h3{
  margin-bottom: 18px;
  text-align: center;
  color: #555;
}
#top_div{
  margin-top: -261px;
  padding-left: 0px;
  padding-right: 30px;
  margin-bottom: 0px;
  z-index: 2;
}
#top_div .content{
  border-radius: 0;
}
#top_div hr{
  margin-top: 0px;
  margin-bottom: 0;
  border-color: rgba(255, 255, 255, .0);
}
#top_div .row_header{
  border-radius: 0;
}
#top_div h3{
  margin-top: 5px;
}