@media (min-width: 768px){
  body{
    padding-top: 40px;
  }
}
@media (min-width: 1200px){
  body{
    padding-top: 80px;
  }
}
@media (min-width: 1600px){
  body{
    padding-top: 120px;
  }
}
.container{
  max-width: 500px;
}
form{
  max-width: 500px;
  border: 1px solid #333;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 10px;
  background-color: rgba(60, 60, 60, .6);
}
h1,
h2{
  color: #D55;
}
h1{
  margin-top: 30px;
  font-size: 150px;
  margin-left: -20px;
}
h2{
  font-size: 30px;
}
input{
  margin-top: 10px;
}
.form-control{
  background-color: rgba(255, 255, 255, .90);
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}