<div class="row">
  <div class="col-sm-4">
    <div class="content">
      <div class="row_header">
        <h1><?php echo $this->Admin->show_data("users"); ?></h1>
        <h3><span class="glyphicon glyphicon-user"></span> 学生</h3>
        <br />
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="content">
      <div class="row_header">
        <h1><?php echo $this->Admin->show_data("majors"); ?></h1>
        <h3><span class="glyphicon glyphicon-book"></span> 专业</h3>
        <br />
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="content">
      <div class="row_header">
        <h1><?php echo $this->Admin->show_data("classes"); ?></h1>
        <h3><span class="glyphicon glyphicon-home"></span> 班级</h3>
        <br />
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="content">
      <div class="row_header">
        <h1><?php echo $this->Admin->show_data("subjects"); ?></h1>
        <h3><span class="glyphicon glyphicon-list-alt"></span> 课程</h3>
        <br />
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="content">
      <div class="row_header">
        <h1><?php echo $this->Admin->show_data("selects"); ?></h1>
        <h3><span class="glyphicon glyphicon-ok"></span> 选课</h3>
        <br />
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="content">
      <div class="row_header">
        <h1><?php echo $this->Admin->show_data("admins"); ?></h1>
        <h3><span class="glyphicon glyphicon-star"></span> 管理员</h3>
        <br />
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="content">
      <div class="row_header">
        <h5>最后登录</h5>
        <hr />
      </div>
      <div class="admin_list">
        <?php $this->Admin->last_login(6); ?>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="content">
      <div class="row_header">
        <h5>系统信息</h5>
        <hr />
      </div>
      <div class="admin_list">
        <p>网站地址<span class="pull-right"><?php global $path; echo $path; ?>/</span></p>
        <p>文件地址<span class="pull-right"><?php global $include_path ; echo $include_path ; ?></span></p>
        <p>数据库<span class="pull-right"><?php global $db_database; echo $db_database; ?></span></p>
        <p>数据库地址<span class="pull-right"><?php global $db_location; echo $db_location; ?></span></p>
        <p>数据库用户<span class="pull-right"><?php global $db_username ; echo $db_username ; ?></span></p>
        <p>GA Tracking Code<span class="pull-right"><?php global $google_analytics ; echo $google_analytics ; ?></span></p>
      </div>
    </div>
  </div>
</div>

<link href="<?php echo $this->path; ?>/assets/css/home.css" rel="stylesheet">
<script src="<?php echo $this->path; ?>/assets/js/home.js" type="text/javascript"></script>