<form action="<?php echo $this->path; ?>/action/login.php" method="POST">
  <h1 class="text-center" style="margin-left: 0px;"><span class="glyphicon glyphicon-star"></span></h1>
  <h2 class="text-center title2">Admin login</h2>
  <br />
  <input type="text" name="username" class="form-control" placeholder="Username" autocomplete="off" autofocus>
  <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="off">
  <input type="text" name="type" style="display: none;" value="admins"/>
  <input type="submit" name="submit" class="btn btn-danger btn-block" value="Login"></input>
  <br />
  <p class="text-center" style="color: #AAA; font-size: 13px;">Support Chrome, Firefox, Opera and Safari.</p>
  <hr />
  <p class="text-center" style="color: #DDD;">Code &amp; Design by <a href="http://taixiaoyu.com">Xiaoyu Tai</a><br />Copyright © 2013</p>
</form>

<link href="<?php echo $this->path; ?>/assets/css/login.css" rel="stylesheet">
<?php
  if(isset($_SESSION['xg_pwd'])){
    unset($_SESSION['xg_pwd']);
?>
<script type="text/javascript">
Messenger.options = {
  extraClasses: 'messenger-fixed messenger-on-top',
  theme: 'block'
}
Messenger().post({
  type: "error",
  hideAfter: 4,
  showCloseButton: true,
  message: "Something wrong, man!"
});
</script>
<?php
  }
?>