<?php if($this->bg == 0 || $this->bg == 2){ ?>
      <hr />
      <p  class="text-center" style="color: #666;">Copyright © 2014 Xiaoyu Tai&nbsp;&nbsp;/&nbsp;&nbsp;Code &amp; Design by <a href="http://taixiaoyu.com">Xiaoyu Tai</a>&nbsp;&nbsp;/&nbsp;&nbsp;此项目开源在 <a href="https://github.com/xystudioo/BJUT-XG-Courses">GitHub</a>, 欢迎 fork !</p>
      <br />
<?php } ?>
    </div>
    <p id='backt' style='display:none;'>
      <a href='#'>回顶部 <span class='glyphicon glyphicon-arrow-up'></span></a>
    </p>
  </body>
</html>