<div id="alert-div" class="alert alert-warning">
  <p style="font-size: 18px;"><span class="glyphicon glyphicon-bell"></span> 请先把<strong> 这学期(大三上) </strong>选的课选好，再根据<strong> 需要的学分 </strong>和<strong> 选课人数 </strong>来决定其他学期的选课。</p>
  <hr />
  <p style="font-size: 18px;">
  <span id="sign-div" class="glyphicon glyphicon-exclamation-sign"></span> 
  <span id="p-div">尚未完成教学计划</span>，三类选修共需要 <span id="need"></span> 学分，已选 <span id="already"></span> 学分。
  </p>
  <br />
  <div id="progress-bar-div" class="progress progress-striped active" style="margin-bottom: 5px;">
    <div id="progress-bar" class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    </div>
  </div>
</div>
<div class="container" id="top_div" data-spy="affix" data-offset-top="111">
  <div class="row hidden-xs hidden-sm">
    <div class="col-sm-4">
      <div class="content header_2">
        <div class="row_header">
          <h3>学科基础选修课</h3>
          <h4>需要 <?php echo $this->Subject->plans_points($_SESSION['xg_major'], "1"); ?> 学分, 已选 <span id="s_2_t">32</span> 学分</h4>
          <h4 id="l_2_t"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="content header_3">
        <div class="row_header">
          <h3>专业任选课</h3>
          <h4>需要 <?php echo $this->Subject->plans_points($_SESSION['xg_major'], "2"); ?> 学分, 已选 <span id="s_3_t">32</span> 学分</h4>
          <h4 id="l_3_t"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="content header_4"> 
        <div class="row_header">
          <h3>专业限选课</h3>
          <h4>需要 <?php echo $this->Subject->plans_points($_SESSION['xg_major'], "3"); ?> 学分, 已选 <span id="s_4_t">32</span> 学分</h4>
          <h4 id="l_4_t"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="content header_2">
      <div class="row_header">
        <h3>学科基础选修课</h3>
        <h4>需要 <?php echo $this->Subject->plans_points($_SESSION['xg_major'], "1"); ?> 学分, 已选 <span id="s_2">32</span> 学分</h4>
        <h4 id="l_2"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
        <hr />
      </div>
      <h4>大三上</h4>
      <?php $this->Subject->cards(5, "学科基础选修课", "all"); ?>
      <hr />
      <h4>大三下</h4>
      <?php $this->Subject->cards(6, "学科基础选修课", "all"); ?>
      <hr />
      <h4>大四上</h4>
      <?php $this->Subject->cards(7, "学科基础选修课", "all");?>
      <div id="s_2_default" class="content-end" style="display: none;"><?php echo $this->Subject->sum_credits("学科基础选修课"); ?></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="content header_3">
      <div class="row_header">
        <h3>专业任选课</h3>
        <h4>需要 <?php echo $this->Subject->plans_points($_SESSION['xg_major'], "2"); ?> 学分, 已选 <span id="s_3">32</span> 学分</h4>
        <h4 id="l_3"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
        <hr />
      </div>
      <h4>大三上</h4>
      <?php $this->Subject->cards(5, "专业任选课", "all"); ?>
      <hr />
      <h4>大三下</h4>
      <?php $this->Subject->cards(6, "专业任选课", "all"); ?>
      <hr />
      <h4>大四上</h4>
      <?php $this->Subject->cards(7, "专业任选课", "all"); ?>
      <div id="s_3_default" class="content-end" style="display: none;"><?php echo $this->Subject->sum_credits("专业任选课"); ?></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="content header_4">
      <div class="row_header">
        <h3>专业限选课</h3>
        <h4>需要 <?php echo $this->Subject->plans_points($_SESSION['xg_major'], "3"); ?> 学分, 已选 <span id="s_4">32</span> 学分</h4>
        <h4 id="l_4"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> 未完成教学计划</span></h4>
        <hr />
      </div>
      <h4>大三上</h4>
      <?php $this->Subject->cards(5, "专业限选课", "all"); ?>
      <hr />
      <h4>大三下</h4>
      <?php $this->Subject->cards(6, "专业限选课", "all"); ?>
      <hr />
      <h4>大四上</h4>
      <?php $this->Subject->cards(7, "专业限选课", "all"); ?>
      <div id="s_4_default" class="content-end" style="display: none;"><?php echo $this->Subject->sum_credits("专业限选课"); ?></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var r = new Array(0, <?php echo $this->Subject->plans_points($_SESSION['xg_major'], "0"); ?>, <?php echo $this->Subject->plans_points($_SESSION['xg_major'], "1"); ?>,<?php echo $this->Subject->plans_points($_SESSION['xg_major'], "2"); ?>,<?php echo $this->Subject->plans_points($_SESSION['xg_major'], "3"); ?>);
</script>
<link href="<?php echo $this->path; ?>/assets/css/home.css" rel="stylesheet">
<script src="<?php echo $this->path; ?>/assets/js/home.js" type="text/javascript"></script>