<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<?php echo $this->path; ?>/">信管专业选课指南~</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li id="nav_1"><a href="<?php echo $this->path; ?>/home.php">所有课程</a></li>
        <li id="nav_2"><a href="<?php echo $this->path; ?>/mine.php">我的选课</a></li>
        <li id="nav_3"><a href="<?php echo $this->path; ?>/plan.php">教学计划</a></li>
        <li id="nav_4"><a href="<?php echo $this->path; ?>/message.php">留言板</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <?php echo $_SESSION['xg_name']; ?> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li id="nav_5"><a href="<?php echo $this->path; ?>/password.php">修改密码</a></li>
            <li><a href="<?php echo $this->path; ?>/action/logout.php">注销</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

<script type="text/javascript">
$(document).ready(function()
{
  nav_active(<?php echo $this->nav; ?>);
});
</script>