<h2>导入向导</h2>
<div class="row">
  <div class="col-sm-4">
    <a href="">
      <div class="content">
        <div class="row_header">
          <h1>1</h1>
          <h3>导入学生与专业</h3>
          <p>&nbsp;</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="">
      <div class="content has-done">
        <div class="row_header">
          <h1>2</h1>
          <h3>导入课程</h3>
          <p><span class="label label-success">已完成</span></p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="">
      <div class="content has-danger">
        <div class="row_header">
          <h1>3</h1>
          <h3>导入教学计划</h3>
          <p><span class="label label-danger">未完成</span></p>
        </div>
      </div>
    </a>
  </div>
</div>
<link href="<?php echo $this->path; ?>/assets/css/home.css" rel="stylesheet">
<link href="<?php echo $this->path; ?>/assets/css/import.css" rel="stylesheet">