<?php
/**
* Data require: $this->data["subject"]
* $this->data["page"]=> "item_total_num", "page_current_num", "page_total_num", "first_page", "last_page", "num_per_page".
*/
$start_i = 0;
$end_i = 0;
if($this->data["page"]["item_total_num"]!=0){
  $end_i = count($this->data["subject"])-1;
}
?>
<h2>课程管理</h2>
<div class="row">
<div class="col-sm-6">
<form action="" method="GET">
  <div class="input-group has-error">
    <input type="text" class="form-control" name="q" placeholder="暂时支持输入精准的课程编号 e.g.2373">
    <span class="input-group-btn">
      <button class="btn btn-danger" type="submmit">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </span>
  </div>
</form>
</div>
<br class="visible-xs" />
<div class="col-sm-6">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> 添加课程</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> 导入课程</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 批量删除</button>
    </div>
  </div>
</div>
</div>
<hr />
<p class="pull-right hidden-xs"><?php
echo $this->data["subject"][$start_i]["subject_name"]
    ."(".$this->data["subject"][$start_i]["subject_id"].") - "
    .$this->data["subject"][$end_i]["subject_name"]
    ."(".$this->data["subject"][$end_i]["subject_id"].")";
?></p>
<p>共 <?php echo $this->data["page"]["item_total_num"]; ?> 门课程, 第 <?php echo $this->data["page"]["page_current_num"]; ?> 页</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>课程编号</th>
      <th>课程名称</th>
      <th class="hidden-xs hidden-sm">对应专业 (ID)</th>
      <th class="hidden-xs hidden-sm">学分</th>
      <th class="hidden-xs">课程性质</th>
      <th class="visible-lg">开课学院</th>
      <th class="visible-lg">开课时间</th>
      <th class="hidden-xs">选课人数</th>
    </tr>
  </thead>
  <tbody>
<?php
  if($this->data["subject"] == null){
    echo "<tr><td colspan=\"8\" class=\"visible-lg\"><a>还没有课</a></td>"
           . "<td colspan=\"6\" class=\"visible-md\"><a>还没有课</a></td>"
           . "<td colspan=\"4\" class=\"visible-sm\"><a>还没有课</a></td>"
           . "<td colspan=\"2\" class=\"visible-xs\"><a>还没有课</a></td></tr>";
  }
  foreach($this->data["subject"] as $subject_item){
    $href = $this->path . "/admin/subject/" . $subject_item["subject_id"];
    $subject_type = $subject_item["subject_type"] . " - " . $this->switchType($subject_item["subject_type"]);
    $subject_time = $this->switchTime($subject_item["subject_time"]);
    echo "<tr><td><a href=\"".$href."\">".$subject_item["subject_id"]."</a></td>"
        ."<td><a href=\"".$href."\">".$subject_item["subject_name"]."</a></td>"
        ."<td class=\"hidden-xs hidden-sm\"><a href=\"".$href."\">".$subject_item["major_id"]."</a></td>"
        ."<td class=\"hidden-xs hidden-sm\"><a href=\"".$href."\">".$subject_item["subject_point"]."</a></td>"
        ."<td class=\"hidden-xs\"><a href=\"".$href."\">".$subject_type."</a></td>"
        ."<td class=\"visible-lg\"><a href=\"".$href."\">".$subject_item["subject_school"]."</a></td>"
        ."<td class=\"visible-lg\"><a href=\"".$href."\">".$subject_time."</a></td>"
        ."<td class=\"hidden-xs\"><a href=\"".$href."\">".$subject_item["subject_enroll"]." 人</a></td></tr>";
  }
?>
  </tbody>
</table>
<?php
  if($this->data["page"]["page_total_num"] != 1){
    echo "<div class=\"pagin\"><ul class=\"pagination\">";
    if($this->data["page"]["first_page"]){
      echo "<li class=\"disabled\"><a>&laquo;</a></li>";
    }else{
      echo "<li><a href=\"".$this->path."/admin/subject/?p=".($this->data["page"]["page_current_num"]-1)."\">&laquo;</a></li>";
    }
    for($i=1; $i <= $this->data["page"]["page_total_num"]; $i++){ 
      if($i == $this->data["page"]["page_current_num"]){
        echo "<li class=\"active\">";
      }else{
        echo "<li>";
      }
      echo "<a href=\"".$this->path."/admin/subject/?p=".$i."\">".$i."</a></li>";
    }
    if($this->data["page"]["last_page"]){
      echo "<li class=\"disabled\"><a>&raquo;</a></li>";
    }else{
      echo "<li><a href=\"".$this->path."/admin/subject/?p=".($this->data["page"]["page_current_num"]+1)."\">&raquo;</a></li>";
    }
    echo "</ul></div>";
  }
?>
<style type="text/css">
  table tr td a {
    display:block;
    color: #333;
    height:100%;
    width:100%;
    padding: 8px!important;
  }
  table tr:hover > td > a{
    color: #D55!important;
  }
  table tr td {
    padding: 0!important;
  }
</style>
<link href="<?php echo $this->path; ?>/assets/css/admin.css" rel="stylesheet">